       * {
			border: 0;
		}
		body{
				 background-color: #ffffff;
			}
		.title {
			margin-top: 28px;
			margin-bottom: 28px;
		}
		
		.choose {
			overflow: hidden;
			padding: 15px 0;
			background-color: #fafafa;
			border: 1px solid #e6e6e6;
		}
		.choose p {
		width: 70px;
		float: left;
		line-height: 28px;
		text-align: right;
	}
.choose ul {
    padding-left: 70px;
}
.choose ul li{
	 float: left;
    margin-left: 25px;
    margin-right: 7px;
}
.choose ul li {
	display:block;
    line-height: 26px;
    font-size: 14px;
    padding: 0 8px;
    border: 1px solid #fafafa;
    cursor: pointer;
}
.choose ul li.active {
	border: 1px solid #ff9900;
	color:#ff9900;
}
		
		.job {
			line-height: 29px;
			vertical-align: middle;
			padding: 5px 10px;
           	font-family: "微软雅黑";
			font-size: 14px;
			background-color: #fafafa;
		}
		
		.job:hover {
			border: 1px solid #ff9900;
			color: #ff9900;
		}
		
		.job_need {
			margin-top: 40px;
			width: 100%;
		}
		
		.job_need table {
			border-spacing: 0;
			border-collapse: collapse;
		}
		
		.job_need table tr th {
			border: 1px solid #e6e6e6;
			background-color: #fafafa;
			font-size: 16px;
			height: 46px;
			font-family: "微软雅黑";
		}
		.job_need table tr th.first{
			width:213px;
		}
		.job_need table tr th.second{
			width:884px;
			text-align:left;
			padding-left: 40px;
		}
		.job_need table tr td {
			padding-top: 17px;
			padding-bottom: 17px;
			border: 1px solid #e6e6e6;
			font-family: "微软雅黑";
			font-size: 16px;
			vertical-align: middle;
		}
		
		.job_need_a {
			text-align: center;
		}
		
		.job_need_b {
			padding-left: 40px;
		}
		.foot_box{
			margin-top: 140px;
		}
		
		
