body{
    background-color: #f2f2f2;
}
#pagination {
    margin-top: 0;
}
.top_box {
    background-color: #fff;
    padding: 25px 0 14px;
    width: 100%;
}
.menu {
    margin-top: 20px;
	overflow: hidden;
}
.menu_left {
    width: 120px;
    color: #fff;
    background-color: #cccccc;
}
.menu_left ul li {
    padding: 10px 12px;
    line-height: 24px;
	height: 24px;
    font-size: 16px;
	cursor:pointer;
}
.menu_left ul li.active{
	background-color:#ff9900;
}
.menu_left ul li:hover {
    background-color:#ff9900;
}
.menu_right {
    width: 962px;
    margin-left: 18px;
	padding-bottom: 34px;
}
.menu_rtop,.menu_runder {
    border: 1px solid #ccc;
}
.menu_rtop{
	font-size: 16px;
	padding: 7px 320px 0 15px;
	background:url(../img/gzbg.png) no-repeat;
	background-position: right;
	height: 102px;
}
.menu_rtop ul li {
    margin-top: 8px;
}
.menu_rtop ul li span {
    display: block;
    line-height: 26px;
        float: left;
}
.menu_rtop ul li p {
    line-height: 26px;
}
.menu_rtop ul li p.duixiang{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu_rtop ul li p.neirong{
height:52px;
overflow: hidden;
}
.menu_runder {
    margin-top: 12px;
	padding: 0 30px;
	position: relative;
}
.select_list {
    overflow: hidden;
    border-bottom: 1px dashed #e3e3e3;
}
.select_label {
    width: 50px;
    float: left;
    line-height: 14px;
    text-align: right;
    padding: 16px 0;
}
.tab_content ul {
    display: none;
}

.choose_sp {
    height: 80px;
    overflow: hidden;
}
.select_list ul {
    padding-left: 50px;
}
.select_list ul li {
    display: block;
    font-size: 14px;
    padding: 0 22px;
    cursor: pointer;
    line-height: 46px;
    float: left;
}
.select_list ul li.active {
	color:#ff9900;
}
.more {
    background: url(../img/jobdown.png) no-repeat;
    background-position: left center;
    position: absolute;
    right: 0;
    bottom: 14px;
    padding-left: 23px;
    background-size: 16px 8px;
    cursor: pointer;
}
.more_sp {
    background: url(../img/jobup.png) no-repeat;
    background-position: left center;
    background-size: 16px 8px;
}
.choose_list_l {
    border-bottom: 0;
    padding-right: 76px;
    position: relative;
    height: 46px;
}
.no_border_bottom{
    border-bottom: 0;
}

.up {
    position: absolute;
    bottom: -33px;
    left: 50%;
    height: 32px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    z-index: 2;
    line-height: 32px;
    padding:0 26px;
	margin-left: -66px;
	color:#ff9900;
	cursor: pointer;
}
.up img {
    margin-left: 10px;
}
.active img{
	-ms-transform:rotate(180deg);
-moz-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
-o-transform:rotate(180deg);
transform: rotate(180deg);
}
.topradio {
    padding: 14px 0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 33px;
}
.topradio input {
    margin-left: 19px;
    cursor: pointer;
}
.topradio label {
    padding-right: 17px;
    padding-left: 4px;
    cursor: pointer;
}
.per_content {
    width: 1100px;
    margin: 0 auto;
	min-height:300px;
}
.per_list{
	overflow: hidden;
	width:1180px;
	margin-left:-40px;
  margin-top: 60px;
  padding: 10px 0;
}
.per_list ul li {
    float: left;

}
.page_sp {
    padding: 0 24px;
    margin-top: 6px;
}
.card {
      margin-left: 40px;
    background-color: #fff;
    width: 280px;
    height: 335px;
    border: 1px solid #f0f0f0;
    cursor: pointer;
    margin-bottom: 60px;
    padding: 35px 30px 30px 30px;
    border-radius: 6px;
        text-align: center;
}
.card:hover{
	    border: 1px solid #ff9900;
    -webkit-box-shadow: 0px 0px 6px #ff9900;
    -moz-box-shadow: 0px 0px 6px #ff9900;
    box-shadow: 0px 0px 6px #ff9900;
}
.img_box {
    width: 172px;
    height: 172px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 0px 25px #f3f3f3;
    text-align: center;
}
.img_box img {
    width: 120px;
    height: 148px;
    margin-top: 24px;
}
.card h1 {
    font-size: 16px;
    color: #808080;
    margin-top: 25px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card h1 span {
    color: #333;
    font-size: 28px;
    margin-right: 14px;
}
.card h2 {
    color: #ff9900;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin-top: 20px;
}
.card p {
    color: #6e6e6e;
    font-size: 15px;
    margin-top: 30px;
}
.gold_list_l {
    width: 152px;
    height: 180px;
    overflow: hidden;
}
.gold_list_l img {
    width: 100%;
    height: 100%;
}
.gold_list_r {
  width: 295px;
  margin-left: 36px;
}
.right_top {
    font-size: 20px;
}
.right_top span {
    font-weight: normal;
}
.service {
    display: inline-block;
    font-size: 12px;
    color: #ff681e;
    border: 1px solid #ff681e;
    border-radius: 12px;
    padding: 0 8px;
    margin-left: 5px;
    line-height: 16px;
}
.noservice{
	color: #b2b2b2;
    border: 1px solid #b2b2b2;
}
.per_info {
    font-size: 14px;
    margin-left:40px;
	color:#808080;
}
.gold_list_r p {
    line-height: 32px;
    margin-top: 20px;
}
.gold_list_r p span {
    padding-left: 26px;
    font-size: 14px;
    display: inline-block;
    width:120px;
}
.gold_list_r p span.gongzhong {
    background: url(../img/icongz.png) no-repeat;
    background-position: 0 5px;
    background-size: 16px auto;
}
.gold_list_r p span.congye {
    background: url(../img/icongzjy.png) no-repeat;
    background-position: left center;
    background-size: 16px auto;
}
.gold_list_r p span.xueli {
    background: url(../img/iconxueli.png) no-repeat;
    background-position: left center;
    background-size: 18px auto;
}
.gold_list_r p span.xingzuo {
    background: url(../img/iconxz.png) no-repeat;
    background-position: left center;
    background-size: 16px auto;
}
.per_info_list {
    overflow: hidden;
    margin-top: 18px;
}
.per_info_list li {
    float: left;
    line-height: 24px;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    border-radius: 12px;
    padding: 0 9px;
    margin-right: 17px;
}

.gold_list_r h3 {
  line-height: 46px;
  color: #ff5e0f;
  font-weight: normal;
  font-size: 24px;
  background-color: #f5f5f5;
  margin-top: 21px;
  padding-left: 16px;
}
.gold_list_r h3 span {
    font-size: 14px;
}
.no_found {
    background: url(../img/nofond.png) no-repeat;
    height: 90px;
    padding-top: 90px;
    background-position: center top;
    margin-top: 80px;
    text-align: center;
}

.no_found h1 {
    font-size: 24px;
    color: #7a7a7a;
    line-height: 56px;
}

.no_found p {
    font-size: 18px;
    color: #7a7a7a;
}